# Environment variables
.env

# API Documentation
api_documentation.txt

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment
.env.local
.env.development
.env.test
.env.production

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?